<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" style="text-align: left;">
        <ion-button (click)="Cargar()" color="success">
          <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6" style="text-align: right;">
        <ion-button color="secondary">
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label>Actividades</ion-label>
    <ion-select>
      <ion-select-option *ngFor="let item of actividades"> {{ item.Actividad }} </ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <br>
  <br>
  <ion-button (click)="Registrar()" color="danger">
    <ion-icon slot="icon-only" name="trash"></ion-icon>
  </ion-button>

</ion-content>

<ion-bottom-drawer
  style="box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px -4px 8px rgba(0, 0, 0, 0.04), 0px -12px 32px rgba(0, 0, 0, 0.04);"
  [(state)]="drawerState" [minimumHeight]="minimumHeight" [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce"
  [distanceTop]="distanceTop">
  <div class="drawer-content">
    <ion-title>Registrar</ion-title>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>

  </div>
</ion-bottom-drawer>